body {
    background-color: #c68fe6;
    text-align: center;
  }

  h1 {
    padding-bottom: 10px;
    color: #1230ae;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  }

  h2 {
    color: #6c48c5;
  }
  
  .card-cover{
      opacity: .7;
  }